h1, h2, h3 {
    font-family: "Lobster", cursive;
}

.jumbotron {
    padding: 80px;
    background-image: linear-gradient(to right, #4285F4, #4FC3F7, #1CE9B6,#00BFA5 );
    color: white;
}

footer {
    background-image: linear-gradient(#B3E5FC, white);
    padding: 20px 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 50px;
  }

  #android {
    width: 200px;

  }
  .navbar {
    background-image: linear-gradient(to right, #4285F4, #4FC3F7, #1CE9B6,#00BFA5 );
  }
  .nav-link , .navbar-brand { 
    cursor: pointer;
  }
.nav-link { 
    margin-right: 1em !important;
}

.navbar-collapse { 
    justify-content: flex-end;
}

.desc {
    padding: 2em;
}

.desc h3 {
    color: #dd00ae
}

.desc p {
    line-height: 2;
    text-align: justify;
}